Sistema Integral TSE v2/Service References/wcfRef1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tsewservice.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:import schemaLocation="http://tsewservice.azurewebsites.net/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="crearFacturaOtros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q1:facturasOtro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearFacturaOtrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearFacturaOtrosResult" nillable="true" type="q2:facturasOtro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarFacturaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarFacturaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarFacturaPorIdResult" nillable="true" type="q3:factura" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCfdiPorIdFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFactura" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCfdiPorIdFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarCfdiPorIdFacturaResult" nillable="true" type="q4:cfdi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seguimientoVacio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seguimientoVacioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seguimientoVacioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAspNetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q5:AspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarAspNetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarAspNetUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarUsuarioNetPorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarUsuarioNetPorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarUsuarioNetPorNombreResult" nillable="true" type="q6:AspNetUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="recipients" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="cuerpoHtml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuerpoPlainText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="rutaArchivos" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enviarMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enviarMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q9:fecha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarFechaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTarifaUnichofer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="idRuta" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTarifaUnichoferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarTarifaUnichoferResult" nillable="true" type="q10:tarifas_choferes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTarifaMultichofer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTrayecto" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTarifaMultichoferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarTarifaMultichoferResult" nillable="true" type="q11:tarifas_trayectos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarNominaPorIdViaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarNominaPorIdViajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buscarNominaPorIdViajeResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q12:fecha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearFechaResult" nillable="true" type="q13:fecha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearViatico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q14:viatico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearViaticoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearViaticoResult" nillable="true" type="q15:viatico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTrayectoPorAsignacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEquipoAsignado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTrayectoPorAsignacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarTrayectoPorAsignacionResult" nillable="true" type="q16:trayectos_asignados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTrayectoAsignado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q17:trayectos_asignados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTrayectoAsignadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarTrayectoAsignadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearTrayectoAsignado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q18:trayectos_asignados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearTrayectoAsignadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearTrayectoAsignadoResult" nillable="true" type="q19:trayectos_asignados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTrayectoAsignado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toDelete" nillable="true" type="q20:trayectos_asignados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTrayectoAsignadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarTrayectoAsignadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCajaPorAsignacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEquipoAsignado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCajaPorAsignacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarCajaPorAsignacionResult" nillable="true" type="q21:cajaAsignada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCajaAsignada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q22:cajaAsignada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCajaAsignadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarCajaAsignadaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCajaAsignada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q23:cajaAsignada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCajaAsignadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearCajaAsignadaResult" nillable="true" type="q24:cajaAsignada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCajaAsignada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toDelete" nillable="true" type="q25:cajaAsignada" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCajaAsignadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarCajaAsignadaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarOrdenPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarOrdenPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarOrdenPorIdResult" nillable="true" type="q26:Ordene" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarAsignacionPorOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ano" type="xs:int" />
        <xs:element minOccurs="0" name="consecutivo" type="xs:int" />
        <xs:element minOccurs="0" name="idEquipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarAsignacionPorOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarAsignacionPorOrdenResult" nillable="true" type="q27:equipo_asignado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarAsignacionPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEquipoAsignado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarAsignacionPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarAsignacionPorIdResult" nillable="true" type="q28:equipo_asignado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEquipoAsignadoPorIdViaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEquipoAsignadoPorIdViajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="listarEquipoAsignadoPorIdViajeResult" nillable="true" type="q29:ArrayOfequipo_asignado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRendimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q30:rendimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRendimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearRendimientoResult" nillable="true" type="q31:rendimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearNuevaOrden">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaSalida" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaLlegada" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idPrecio" type="xs:int" />
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
        <xs:element minOccurs="0" name="idArrivo" type="xs:int" />
        <xs:element minOccurs="0" name="guiaCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearNuevaOrdenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="crearNuevaOrdenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEquipoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEquipoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarEquipoPorIdResult" nillable="true" type="q32:equipo_operacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEquipoOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q33:equipo_operacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearEquipoOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearEquipoOperacionResult" nillable="true" type="q34:equipo_operacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEquipoOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q35:equipo_operacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEquipoOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarEquipoOperacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEquipoAsignado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q36:equipo_asignado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEquipoAsignadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarEquipoAsignadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarUltimoViaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEquipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarUltimoViajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarUltimoViajeResult" nillable="true" type="q37:equipo_asignado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRecorridoPorIdEquipoAsignado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEquipoAsignado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRecorridoPorIdEquipoAsignadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarRecorridoPorIdEquipoAsignadoResult" nillable="true" type="q38:recorridoEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRecorrido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q39:recorridoEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRecorridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarRecorridoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRecorrido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q40:recorridoEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRecorridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearRecorridoResult" nillable="true" type="q41:recorridoEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarRecorridoPorIdViaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarRecorridoPorIdViajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="listarRecorridoPorIdViajeResult" nillable="true" type="q42:ArrayOfrecorridoEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarViajeDeRegresoDeGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarViajeDeRegresoDeGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarViajeDeRegresoDeGrupoResult" nillable="true" type="q43:recorridoEquipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hemosLlegadoADestino">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hemosLlegadoADestinoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hemosLlegadoADestinoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarLlegadaDestino">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q44:llegadaDestino" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarLlegadaDestinoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarLlegadaDestinoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLlegadaPorIdViaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLlegadaPorIdViajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarLlegadaPorIdViajeResult" nillable="true" type="q45:llegadaDestino" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearSolicitudServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q46:solicitudServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearSolicitudServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearSolicitudServicioResult" nillable="true" type="q47:solicitudServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarViajePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarViajePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarViajePorIdResult" nillable="true" type="q48:viaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarViajePorConsecutivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consecutivo" type="xs:int" />
        <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarViajePorConsecutivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarViajePorConsecutivoResult" nillable="true" type="q49:viaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarViaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q50:viaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarViajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarViajeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarFechaPorIdViaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
        <xs:element minOccurs="0" name="tipoFecha" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarFechaPorIdViajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarFechaPorIdViajeResult" nillable="true" type="q51:fecha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarLlaveRuta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q52:llave_rutas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarLlaveRutaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarLlaveRutaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLlaveRutaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLlaveRutaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarLlaveRutaPorIdResult" nillable="true" type="q53:llave_rutas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEquipoPorGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEquipoPorGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarEquipoPorGrupoResult" nillable="true" type="q54:equipo_operacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearOdometro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q55:Odometro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearOdometroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearOdometroResult" nillable="true" type="q56:Odometro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarOdometro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q57:Odometro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarOdometroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarOdometroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarOdometroPorGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupo" type="xs:int" />
        <xs:element minOccurs="0" name="trayecto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarOdometroPorGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarOdometroPorGrupoResult" nillable="true" type="q58:Odometro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearLecturaBomba">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q59:lecturasBomba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearLecturaBombaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearLecturaBombaResult" nillable="true" type="q60:lecturasBomba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLecturaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLectura" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLecturaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarLecturaPorIdResult" nillable="true" type="q61:lecturasBomba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLecturaAnterior">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLecturaAnteriorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarLecturaAnteriorResult" nillable="true" type="q62:lecturasBomba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarUltimaLectura">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarUltimaLecturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarUltimaLecturaResult" nillable="true" type="q63:lecturasBomba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarLecturaBomba">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q64:lecturasBomba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarLecturaBombaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarLecturaBombaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCompraDiesel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q65:comprasDiesel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCompraDieselResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearCompraDieselResult" nillable="true" type="q66:comprasDiesel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarUltimaCompraDiesel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarUltimaCompraDieselResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarUltimaCompraDieselResult" nillable="true" type="q67:comprasDiesel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearMargen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q68:margen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearMargenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearMargenResult" nillable="true" type="q69:margen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarMargen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q70:margen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarMargenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarMargenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarMargenPorIdViaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarMargenPorIdViajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarMargenPorIdViajeResult" nillable="true" type="q71:margen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viajesRealizadosPorGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="viajesRealizadosPorGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="viajesRealizadosPorGrupoResult" nillable="true" type="q72:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarRendimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="viajes" nillable="true" type="q73:ArrayOfint" />
        <xs:element minOccurs="0" name="idEquipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarRendimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regresarRendimientoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRendimientoPorIdEquipoAsignado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEquipoAsignado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRendimientoPorIdEquipoAsignadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarRendimientoPorIdEquipoAsignadoResult" nillable="true" type="q74:rendimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRendimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q75:rendimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRendimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarRendimientoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarKms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="viajes" nillable="true" type="q76:ArrayOfint" />
        <xs:element minOccurs="0" name="idEquipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarKmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regresarKmsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarLts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="viajes" nillable="true" type="q77:ArrayOfint" />
        <xs:element minOccurs="0" name="idEquipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarLtsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regresarLtsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarParcialPorIdRendimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRendimiento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarParcialPorIdRendimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarParcialPorIdRendimientoResult" nillable="true" type="q78:recargaParcial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCostoCombustiblePorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tipoComsbustible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCostoCombustiblePorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarCostoCombustiblePorFechaResult" nillable="true" type="q79:costo_combustible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRecargaCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q80:recargas_combustible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRecargaCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearRecargaCombustibleResult" nillable="true" type="q81:recargas_combustible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarLtsPorGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarLtsPorGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regresarLtsPorGrupoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRecargaParcial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q82:recargaParcial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRecargaParcialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearRecargaParcialResult" nillable="true" type="q83:recargaParcial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRecargaParcial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q84:recargaParcial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRecargaParcialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarRecargaParcialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRecargasCombustiblePorGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRecargasCombustiblePorGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarRecargasCombustiblePorGrupoResult" nillable="true" type="q85:ArrayOfrecargas_combustible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRendimientoPorGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRendimientoPorGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarRendimientoPorGrupoResult" nillable="true" type="q86:rendimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="siguienteGrupoRecarga">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="siguienteGrupoRecargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siguienteGrupoRecargaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarRecargaParcial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toDelete" nillable="true" type="q87:recargaParcial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarRecargaParcialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarRecargaParcialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarLtsIntPorFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="hasta" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="regresarLtsIntPorFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regresarLtsIntPorFechasResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEquipoAsignado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="viajes" nillable="true" type="q88:ArrayOfint" />
        <xs:element minOccurs="0" name="idEquipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEquipoAsignadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="buscarEquipoAsignadoResult" nillable="true" type="q89:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLtsPorAsignacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEquipoAsignado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarLtsPorAsignacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buscarLtsPorAsignacionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRendimientoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRendimientoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarRendimientoPorIdResult" nillable="true" type="q90:rendimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRecargasParcialesPorGrupo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grupo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRecargasParcialesPorGrupoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarRecargasParcialesPorGrupoResult" nillable="true" type="q91:ArrayOfrecargaParcial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarRecargaParcial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toDelete" nillable="true" type="q92:recargaParcial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrarRecargaParcialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="borrarRecargaParcialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarContactoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarContactoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarContactoPorIdResult" nillable="true" type="q93:contacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCotizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q94:cotizacione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearCotizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearCotizacionResult" nillable="true" type="q95:cotizacione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCotizacionPorConsecutivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ano" type="xs:int" />
        <xs:element minOccurs="0" name="consecutivo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCotizacionPorConsecutivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarCotizacionPorConsecutivoResult" nillable="true" type="q96:cotizacione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCotizacionPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarCotizacionPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarCotizacionPorIdResult" nillable="true" type="q97:cotizacione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCotizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q98:cotizacione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCotizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarCotizacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPersonaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPersonaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarPersonaPorIdResult" nillable="true" type="q99:persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearSolicitudCotizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q100:solicitudCotizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearSolicitudCotizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearSolicitudCotizacionResult" nillable="true" type="q101:solicitudCotizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEmpresaPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarEmpresaPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarEmpresaPorIdResult" nillable="true" type="q102:empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPrecioPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPrecioPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarPrecioPorIdResult" nillable="true" type="q103:precio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPrecio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q104:precio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPrecioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearPrecioResult" nillable="true" type="q105:precio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRemision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toCreate" nillable="true" type="q106:remisione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearRemisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="crearRemisionResult" nillable="true" type="q107:remisione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRemisionPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRemisionPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarRemisionPorIdResult" nillable="true" type="q108:remisione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRemisionPorIdViaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idViaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarRemisionPorIdViajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="buscarRemisionPorIdViajeResult" nillable="true" type="q109:remisione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRemision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="toUpdate" nillable="true" type="q110:remisione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRemisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarRemisionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>